.mixEditor {
  h1 {
    margin-left: 10px;
    display:inline;
  }
  h3 {
    margin-left: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.mixform {
  margin-top: 20px;
  margin-left: 10px;
  width: 800px;
  margin-bottom: 0;
  background-color: #fff;
  .saveButton {
    margin-top: 4px;
  }
}
.playPause, .saveButton {
  margin-left: 10px;
  vertical-align: top;
}
  
.addTrack {
  margin-left: 10px;
}
.item {
  width: 130px;
  margin-left: 4px;
  margin-right: 5px;
  background-color: #9600BF;
  height: 100%;
  border-radius: 4px;
  color: white;
  vertical-align: text-bottom;
  :hover {
    cursor: pointer;
  }
  h4 {
    color: white;
    display: block;
    margin: 0;
  }
}
.loopBucket {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  height: 100px;
}
.track-container {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  form {
    margin-top: 24px;
    margin-left: 10px;
  }
}
.track {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.measure {
  background-color: #ebebeb;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  width: 140px;
  height: 100%;
}
.track * {
  display: inline-block;
}
.over {
  background-color: #555;
}
.trash {
  width: 120px;
  height: 140px;
  padding: 20px;
  float: right;
  background-color: darkgray;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 40px;
  margin-bottom: 40px;
  i {
    font-size: 100px;
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.playing {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

