.user-h1 {
  display: inline;
}

.follow-btn {
  margin-left: 10px;
  margin-bottom: 18px;
}

.my-loop-well {
  overflow: scroll;
  display: flex;
  justify-content: flex-start;
}

.user-summary {
  list-style-type: none;
}