<table>
  <div class="row">
    <div class="container">
      <div><h3>{{mix.name}}</h3></div>
        <p>{{mix.description}}</p>
        <track>{{mix.tracks}}</track>
        <button ng-click="toggle(mix._id)" type="button" class="btn btn-sm"><span class="glyphicon glyphicon-{{favorited ? 'star':'star-empty'}}"></span></button>
        <button ng-click="edit(mix)" type="button" class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
      </div>
    </div>
  </div>
</table>  