<form class="mixform well" ng-model="mixform" ng-submit="save(mixform)">
  <label>Title: {{mix.title}} </label>
  <input class="form-control" ng-model="mixform.title" placeholder="{{mix.title}}"/>
  <label>Description: </label>
  <input class="form-control" ng-model="mixform.description"/>
<!--   <div class="radio">
    <label>
      <input type="radio" value="true" ng-model="mixform.isPublic">Public?</label>
  </div>
  <div class="radio">
    <label><input class="radio" type="radio" value="false" ng-model="mixform.isPublic">Private?</label>
  </div> -->
  <label>Tags: </label>
  <input class="form-control" ng-model="mixform.tags"/>
  <button type="submit" class="btn btn-primary saveButton" title="save">Save</button>
</form>