
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="mixEditor">

  <h1>Mix Editor

  <div class="mixControls">
    <button class="btn btn-primary playPause" title="play" ng-click="togglePlay()" ng-show="!playing"><i class="fa fa-play"></i></button>

    <button class="btn btn-primary playPause" title="stop" ng-click="togglePlay()" ng-show="playing"><i class="fa fa-stop"></i></button>

    <button ng-click="open()" type="submit" class="btn btn-primary saveButton" title="save"><i class="fa fa-floppy-o"></i></button>

<!--     <button ng-click="toggleExport()" class="btn btn-primary export" title="export - click once to save, then click again when mix is finished playing to download"><i class="fa fa-download"></i></button>
 -->
    <button ng-click="showHelp()" class="btn btn-primary helpButton" title="help"><i class="fa fa-question-circle"></i></button>

    <a href="https://twitter.com/share?text=Check out my new mix on Symph! " class="twitter-share-button" data-text="Check out my new mix on Symph!" target="_blank"><button class="btn btn-primary tweet" title="tweet"><i class="fa fa-twitter"></i></button></a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  </h1>
  <button class="openLoopBucket btn btn-lg btn-primary pull-right" ng-click="showLoopBucket()"><i class="fa fa-shopping-basket"></i> <span ng-show="loopBucketOpen">Close</span><span ng-show="!loopBucketOpen">Open</span> Loop Bucket</button>
  
  <div class="pull-right">
    <div class="trash" disabled droppable type="delete"><i class="fa fa-trash"></i></div>
  </div>

  <div class="loopBucket" ng-show="loopBucketOpen">
    <div ng-repeat="loop in loopBucket" class="item" data-loop="{{loop._id}}" id="loop-{{$index}}" draggable type="copy">
      <h4>{{loop.name}}</h4>
    </div>
  </div>

  <h3 ng-show="mix.title !== 'Untitled'">{{ mix.title }} <small> by <a href="" ui-sref="profile({userId: mix.creator._id})">{{mix.creator.username}}</a></small></h3>

  <div class="track-container">
    <div ng-repeat="track in mix.tracks" ng-init="$track = $index">
      <form>
        <h4>Track {{$index + 1}}</h4>
        <div class="instrSelect styled-select">
          <select ng-model="track.instrumentModel" ng-change="changeInstr(track.instrumentModel.name, {{$track}})" ng-options="instrument as instrument.name for instrument in instruments">
          </select>
        </div>
      </form>
      <div class="track bin">
        <div ng-repeat="measure in track.measures" class="measure" id="t-{{$track}}-m-{{$index}}" droppable>
          <div ng-show="!measure.rest" class="item m-{{$index}}" id="loop-t-{{$track}}-m-{{$index}}" data-loop="{{measure.loop._id}}" draggable type="move"><h4 class="text-center">{{measure.loop.name}}</h4></div>
        </div>
      </div>
    </track>
    </div>
    <button class="btn btn-primary btn-lg addTrack" title="add track" ng-click="addTrack()"><span class="glyphicon glyphicon-plus"></span> New Track</button>
  </div>

</div>