<h1>Mix Editor</h1>
  <button class="btn btn-primary" title="save" ng-click="save()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
  <button class="btn btn-success" title="play" ng-click="togglePlay()" ng-show="!playing"><span class="glyphicon glyphicon-play"></span></button>
  <button class="btn btn-warning" title="stop" ng-click="togglePlay()" ng-show="playing"><span class="glyphicon glyphicon-pause"></span></button>

<div class="track-container">
  <div ng-repeat="track in mix.tracks" ng-init="$track = $index">
    <form>
<!--       <button>Mute</button>
      <button>Solo</button>
      <button class="btn btn-xs btn-primary" title="mute"><i class="fa fa-microphone-slash"></i>
</button>
      <button class="btn btn-xs btn-primary" title="solo"><i class="fa fa-microphone"></i></button>
      <label>Volume</label>
      <select>
        <option>25%</option>
        <option>50%</option>
        <option>75%</option>
        <option>100%</option>
      </select> -->
      <select ng-model="selectInstr" ng-change="update(selectInstr)" ng-options="instrument as instrument.name for instrument in instruments">
      </select>
    </form>
    <div class="track bin">
      <div ng-repeat="measure in track.measures" class="measure" id="t-{{$track}}-m-{{$index}}" droppable>
        <div ng-show="!measure.rest" class="item" id="loop-t-{{$track}}-m-{{$index}}" data-loop="{{measure.loop._id}}" draggable type="move" title="{{measure.loop._id}}"></div>
      </div>
    </div>
  </track>
  </div>
  <button class="btn btn-primary btn-lg" title="add track" ng-click="addTrack()"><span class="glyphicon glyphicon-plus"></span></button>
</div>

<h3>My Loop Bucket</h3>
<div class="trash" droppable type="delete"><i class="fa fa-trash"></i></div>
<div class="loopBucket">
  <div ng-repeat="loop in loopBucket" class="item" data-loop="{{loop._id}}" id="loop-{{$index}}" draggable type="copy" title="{{loop._id}}"></div>
  
</div>