<div class="mixes container">
  <div class="row">

  <div>
    <div class="filters">
      <h1>Browse Mixes</h1>
    </div>
    <div class="loop-container well col-md-8">
      <mix-item ng-repeat="mix in mixes" mix="mix" ng-click="select(mix)"></mix-item>
    </div>

  <div ng-show="selected" class="details col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">

    <a href="" ui-sref="editMix({mixId: selected._id})"><h4>{{selected.title}}</h4></a>

    <p>{{selected.description}}</p>

    <p><strong>Created By:</strong> <a href="" ui-sref="profile({userId: selected.creator._id})">{{selected.creator.username}}</a></p>

    <p><strong>Created On:</strong> {{selected.dateCreated | date : format : short}}</p>

    <p><strong>Tags:</strong><span class="label label-success" ng-repeat="tag in mix.tags">{{tag}}</span></p>
    
    <h5>Loops Used:</h5>
    <div class="mix-container well">
      <loop-item loop="loop" ng-repeat="loop in selected.loops"></loop-item>
    </div>
    </div>
    </div>

  </div>
  </div>
</div>
