<div class="mixes container">

  <div class="browse col-md-8">
    <h1>Browse Mixes</h1>
    <div class="mix-container well">
      <mix-item ng-repeat="mix in mixes" mix="mix" ng-click="select(mix)"></mix-item>
    </div>
  </div>

  <div class="details col-md-4" ng-show="selected">
    <a href="" ui-sref="mix({mixId: selected._id})"><h4>{{selected.title}}</h4></a>
    <p>{{selected.description}}</p>
    <p><strong>Created By:</strong> <a href="" ui-sref="profile({userId: selected.creator._id})">{{selected.creator.username}}</a></p>
    <p><strong>Created On:</strong> {{selected.dateCreated | date : format : short}}
    <p><strong>Tags:</strong><span class="label label-success" ng-repeat="tag in mix.tags">{{tag}}</span></p>

    
    <h5>Loops Used:</h5>
    <div class="loop-container well">
      <loop-item loop="loop" ng-repeat="loop in selected.loops"></loop-item>
    </div>

  </div>

</div>
