<div class="loop-editor-container">

<h1>Loop Creator</h1>
  <div class="loopControls">
    <button class="btn btn-danger" id="delete" ng-click="deleteSelected()">Delete Selected</button>
    <button class="btn btn-success" id="play" ng-show="!playing" ng-click="toggle()">Play</button>
    <button class="btn btn-warning" id="stop" ng-show="playing" ng-click="toggle()">Stop</button>
    <button ng-show="loopBelongsToUser" class="btn btn-info" id="save" ng-click="saveLoop()">Save Loop</button>
    <button ng-show="!loopBelongsToUser" class="btn btn-info" id="copy" ng-click="copyLoop()">Copy Loop</button>
  </div>
<!-- <div>
  <h3>Sampler Testing</h3>
  <button id="C4" ng-click="play('C.4')">C4</button>
  <button id="E4" ng-click="play('E.4')">E4</button>
  <button id="G4" ng-click="play('G.4')">G4</button>
</div> -->

<canvas id="c" width="600" height="600"></canvas>
</div>