<form class="mixform well" name="loopForm" ng-model="loopform" ng-submit="loopBelongsToUser ? saveLoop(loopform) : copyLoop(loopform)">
    <h2>Save Loop</h2>
		<label> Loop Name: </label>
			<input class="form-control" ng-model="loopform.name" value="{{loop.name}}"/>
		<label> Tags: </label>
			<input class="form-control" ng-model="loopform.tags"/>
    </div>
    <button ng-show="loopBelongsToUser" class="btn btn-primary" id="save">Save</button>
    <button ng-show="!loopBelongsToUser" class="btn btn-primary" id="copy">Copy</button>	
	</form>
