<div class="saveLoopForm container form-group center">
	<form class="well text-left" name="loopForm" ng-model="loopform" ng-submit="loopBelongsToUser ? saveLoop(loopform) : copyLoop(loopform)">

<!-- loopform.$valid && 
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert> -->

		<label> Loop Name: </label>
			<input class="form-control" ng-model="loopform.name" value="{{loop.name}}"/>
		<label> Tags: </label>
			<input class="form-control" ng-model="loopform.tags"/>
<!-- 		<label> Category: </label>
			<select class="form-control" ng-model="loopform.category">
				<option value="rhythm">rhythm</option>
				<option value="chord">chord</option>
				<option value="melody">melody</option>
			</select>
    <div class="radio">
      <label><input type="radio" ng-model="loopform.isPublic" value="true"/>Public?</label>
    </div>
    <div class="radio">
      <label><input type="radio" ng-model="loopform.isPublic" value="false"/>Private?</label> -->
    </div>
    <button ng-show="loopBelongsToUser" class="btn btn-primary" id="save">Save</button>
    <button ng-show="!loopBelongsToUser" class="btn btn-primary" id="copy">Copy</button>	
	</form>
</div>