<div>
  <h1><span contenteditable="true" ng-model="title">{{ title }}</span></h1>
  <button id="delete" ng-click="deleteSelected()">Delete Selected</button>
  <button id="play" ng-show="!playing" ng-click="toggle()">Play</button>
  <button id="stop" ng-show="playing" ng-click="toggle()">Stop</button>
  <button id="save" ng-click="saveLoop(title)">Save Loop</button>
  <button id="new" ui-sref="loop({loopId: 'new'})">New Loop</button>
</div>

<!-- <div>
  <h3>Sampler Testing</h3>
  <button id="C4" ng-click="play('C.4')">C4</button>
  <button id="E4" ng-click="play('E.4')">E4</button>
  <button id="G4" ng-click="play('G.4')">G4</button>
</div> -->

<canvas id="c" width="600" height="600"></canvas>
<style type="text/css">
  canvas {
    border: 1px solid #ccc;
  }
</style>