<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a href="" ui-sref="home">
        <div class="navbar-header navbar-brand">
            <i class="fa fa-clone"></i><i class="fa fa-music"></i>
        </div>
        <div class="navbar-brand"><p>SYMPHIO</p></div>
        </a>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Sign Up</button>
        <div ng-show="user" class="welcome pull-right">
            <span>Welcome, {{ user.username }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
