<style type="text/css">
    .navbar-brand {
        font-family: 'Play';
        font-size: 200%;
        text-transform: uppercase;
    }

    body {
        font-family: 'Pontano Sans';
    }
</style>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <a href="" ui-sref="home">
        <div class="navbar-header navbar-brand">
            <i class="fa fa-clone"></i><i class="fa fa-music"></i>
        </div>
        <div class="navbar-brand text-center"><p>Symph</p></div>
        </a>
        <ul class="nav navbar-nav">
            <!-- <li ng-repeat="item in items" ng-if="!item.auth || isLoggedIn()"> -->
            <li ng-repeat="item in items" ng-if="isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <div ng-controller="HomeCtrl">
            <button ng-show="!user" ng-click = "lopen()"class="btn btn-primary pull-right">Login</button>
            <button ng-show="!user" ng-click="sopen()"class="btn btn-primary pull-right">Sign Up</button>
        </div>
        <div ng-show="user" class="welcome pull-right">
            <a href="" ui-sref="profile({userId: user._id})">Welcome, {{ user.username }}!</a>
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>
