<style>
  .item {
    width: 200px;
    background-color: #444;
    height: 100px;
  }
  .loopBucket {
    display: flex;
    justify-content: space-around;
  }
  .track-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
</style>
<div class="trash" droppable drop="deleteLoop()"></div>
<div class="track-container">
  <track ng-repeat="track in composition.tracks" contents="track"></track></div>
</div>
<div class="loopBucket">
  <div ng-repeat="loop in loopBucket" class="item" id="loop-{{loop.name}}" draggable></div>
</div>