<div class="container">
  <h1>{{user.username}}</h1>
  <button ng-click='change(user._id)'>{{status}}</button>

  <div class="row col-lg-7">

    <div class="col-lg-9">
      <ul class="summary">
        <li>Bio: {{user.bio}}</li>
        <li ui-sref="followers">Followers: {{followers.length}}</li>
        <li ui-sref="following">Following: {{user.following.length}}</li>
      </ul>
    </div>
  </div>

  <div class="col-lg-12">
    <h3>My Mixes</h3>
      <a ng-hide='!mixes.length' ui-sref='mixes({id: user._id})'>See All</a>
      <div> 
        <mix-item mix="mix" ng-repeat="mix in mixes">
        </mix-item>
      </div>
      <span ng-show="mixes.length === 0">{{user.username}} has no mixes yet!</span>
  </div>


  <div class="col-lg-12">
    <h3>My Loops</h3>
      <a ng-hide="!loops.length" ui-sref='loops({id: user._id})'>See All</a>
    <div> 
      <loop-item loop="loop" ng-repeat="{{loop | loop.creator==user._id}} in loops">
      </loop-item>
    </div>
    <span ng-show="loops.length === 0">{{user.username}} has no loops yet!</span>
  </div>

    <div class="col-lg-12">
    <h3>My Loop Bucket</h3>
      <a ng-hide="!loops.length" ui-sref='loops({id: user._id})'>See All</a>
    <div> 
      <loop-item loop="loop" ng-repeat="loop in loops">
      </loop-item>
    </div>
    <span ng-show="loops.length === 0">{{user.username}} has no loops yet!</span>
  </div>

  <div class="col-lg-12">
    <h3>Mix Favorites</h3>
      <div> 
        <mix-item mix="mix" ng-repeat="mix in user.favorites">
        </mix-item>
      </div>
  </div>


</div>