.loops {
  .details {
    margin-top: 60px;
  }
  .filters {
    margin-top: 60px;
    display: inline-flex;
  }
  .loop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    /*background: #ebebeb;*/
    height: 100%;
/*    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 4px hsla(0,0,0,0.5);*/
 }
}

.form-group {
  margin-left: 25px;
}

.padd {
  padding: 0px 0px 10px;
}

.form-btn {
  margin-top: 18px;
}

.loop-item {
  padding-left: 5px;
  padding-top: 5px;
  margin: 6px;
  width: 130px;
  background-color: #9600BF;
  height: 100px;
  border-radius: 4px;
  color: white;
  :hover {
    cursor: pointer;
  }
  h4 {
    color: white;
  }
  .btn {
    margin-right: 6px;
  }
}