.browse {
  h1 {
    display: inline;
  }
}

.browse-mixes {
  margin-top: 40px;
}

.loops {
  .filters {
    margin-top: 30px;
    display: inline-flex;
  }
  .loop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
 }
}

.mixes {
  margin-top: 30px;
  .loop-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
 }
}

/* if you want to add selects: use class "style-select" to match instrument select in mix edit page */

.form-btn {
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 15px;
  button {
    margin-right: 10px;
  }
}

.loop-item {
  margin: 15px;
  width: 130px;
  background-color: #55aaaa;
  height: 100px;
  border-radius: 4px;
  color: white;
  text-align: center;
  :hover {
    cursor: pointer;
  }
  h4 {
    font-family: 'Pontano Sans';
    width: 100%;
    /* color: white; */
    display: inline-block;
    vertical-align: middle;
    line-height: normal;    
  }
  .btn {
    margin-top: 6px;
    margin-right: 6px;
  }
}

.mix-item {
  margin: 15px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #55aaaa;
  height: 40px;
  border-radius: 4px;
  color: white;
  padding-left: 10px;
  cursor: pointer;
  h4 {
    font-family: 'Pontano Sans';
    width: 100%;
    display: inline;
    line-height: normal;
  }
  .btn {
    margin-right: 4px;
    margin-top: 5px;
  }
}

a {
  color: #c8c8c8;
}