navbar {
  .fa {
    margin-top: -10px;
  }
  .fa-clone {
    font-size: 40px;
  }
  .fa-music {
    font-size: 20px;
    margin-top: 4px;
    margin-left: -25px;
    float: left;
    position: absolute;
  }
  .welcome {
    margin-top: 15px;
    color: gray;
    text-shadow: none;
  }
}
