.loop-editor-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  button {
    display: inline;
  }
  canvas {
    border: 1px solid #ccc;
  }
}

.saveLoopForm {
  margin-top: 20px;
  .well {
    background-color: #fff !important;
    width: 75%;
  }
}