.mixes {
  .browse {
    margin-top: 30px;
    h1 {
      margin: 20px 0 0 10px;
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
  .details {
    margin-top: 10px;
    .loop-container {
      display: flex;
      max-width: 300px;
      flex-wrap: wrap;
    }
  }
}

.mix-item {
  margin: 15px;
  margin-bottom:20px;
  width: 96%;
  background-color: #55aaaa;
  height: 40px;
  border-radius: 4px;
  color: white;
  padding-left: 10px;
  cursor: pointer;
  h4 {
    width: 100%;
    display: inline;
    line-height: normal;
  }
  .btn {
    margin-right: 4px;
    margin-top: 5px;
  }
}